li {
  list-style: none;
}

button {
  margin: 2px 5px;
}

span {
  margin: 2px 5px;
}

.App {
  text-align: center;
}

.book-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
